<a href="https://colab.research.google.com/github/rsbassi9/DataScienceProjects/blob/master/1_Python_101_Variables_Assignment%2C_Math_Ops%2C_Precedence%2C_and_Print_Get_Skeleton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. VARIABLES ASSIGNMENT

In [ ]:
# Define a variable named "portfolio_1" and assign a number (integer) to it
portfolio_1 = 5000

In [ ]:
# Let's view "portfolio_1"
portfolio_1

5000

In [ ]:
# Define a variable named "portfolio_2" and assign a number (float) to it
portfolio_2 = 5000.00

In [ ]:
# Let's view "portfolio_2"
portfolio_2

5000.0

In [ ]:
# Let's overwrite "portfolio_2" (assume your portfolio value increased)
portfolio_2 = 4500.00

In [ ]:
# Notice that "portfolio_2" will only contain the most recent value
portfolio_2

4500.0

In [ ]:
# Get the type of "portfolio_1" which is integer
# integer is a whole number (no decimals) that could be positive or negative
type(portfolio_1)

int

In [ ]:
# Get the type of "portfolio_2" which is float
# Float are real numbers with a decimal point dividing the integer and fractional parts
type(portfolio_2)

float

**MINI CHALLENGE #1:**
- **We defined a variable AMZN (Ticker symbol for Amazon stock) and we assigned these 3 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells** 



```
AMZN = 3324
AMZN = 3400
AMZN = 3530
AMZN
```

In [ ]:
AMZN = 3324
AMZN = 3400
AMZN = 3530
AMZN

3530

**MINI CHALLENGE #2:**
- **We defined a variable AAPL (Ticker symbol for Apple stock) and we assigned these 2 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells** 



```
AAPL = 112
AAPL = 115.3
type(AAPL)
```

In [ ]:
AAPL = 112
AAPL = 115.3
type(AAPL)

float

# 2. MATH OPERATIONS

In [ ]:
# Define a variable named AAPL and initialize it with 5 indicating that we own 5 stocks
# Let's assume that we bought an additional stock so now we have 6 stocks instead of 5 
# We can increment AAPL by 1 stock as follows:
AAPL = 5

In [ ]:
# Alternatively, we can increment the variable AAPL by 1 as follows:
#AAPL = AAPL + 1
#AAPL

In [ ]:
# Let's assume that the price of AAPL stock is $260 and we currently have 5 AAPL stocks in our portfolio
# We can calculate the total portfolio value (account balance) as follows:
AAPL_price = 260
account_balance = AAPL * AAPL_price
account_balance

1300

In [ ]:
# Let's assume you have $20000 USD in our account
# We want to buy AMZN stocks using the total amount 
# AMZN stock is priced at $3116 each
Total_funds = 20000
AMZN_price = 3116

In [ ]:
# Divide the account balance by Amazon stock price and place the answer in units
units = Total_funds/AMZN_price
units

6.418485237483954

**MINI CHALLENGE #3:** 
- **Write a code that calculates the total value of a portfolio assuming that you own 15 Google stocks (Sticker Symbol: GOOG) priced at 1500 each**

In [ ]:
GOOG_price = 1500
GOOG_stocks = 15
Portfolio = GOOG_price* GOOG_stocks
Portfolio

22500

**MINI CHALLENGE #4:**
- **Write a code that takes in Google (GOOG) stock prices at two days and calculate the return:**
  - **GOOG price on day 1 = \$260** 
  - **GOOG price on day 2 = \$280**

In [ ]:
GOOG_price1 = 260
GOOG_price2 = 280
price_diff = GOOG_2 - GOOG_1
percentage_change = price_diff / GOOG_price1 * 100

percentage_change

7.6923076923076925

# 3. ORDER OF OPERATIONS (PRECEDENCE)

In [ ]:
# add 3 and 4 and then multiply the answer by 5
# Note that parantheses have the highest precedence
(3+4)*5

35

In [ ]:
# Multiplication has higher precedence compared to addition

In [ ]:
# Division has higher precedence compared to addition

**MINI CHALLENGE #5:**
- **Assume that you own 15 shares of AAPL stock priced at \$150 a share. Apple announced the launch of 5 new products with exceptional features so the stock price increased to $170 a share. Calculate the total profit.**

In [ ]:
AAPL_stocks = 15
AAPL_stock_price= 150
AAPLnew_stock_price = 170

Total_profit = (AAPL_stocks*AAPLnew_stock_price)-(AAPL_stocks*AAPL_stock_price)

Total_profit

300

**MINI CHALLENGE #6:** 
- **Write a code that performs the following mathematical operation: z = |x − y| * (x + y)**

In [ ]:
x=1
y=2
z = abs(x-y)*(x+y)

z

3

# 4. PRINT OPERATION

In [ ]:
# Print function is used to print elements on the screen
# Define a string x 
# A string in Python is a sequence of characters
# String in python are surrounded by single or double quotation marks

In [ ]:
# Obtain the data type for 'x'
x = x
type(x)

int

In [ ]:
# Print x
print(x)

1

In [ ]:
# Define a string and put 'Apple Inc.' in it
text = str("Apple Inc.")
text

'Apple Inc.'

In [ ]:
# The format() method formats the specified value and insert it in the placeholder. 
# The placeholder is defined using curly braces: {}
print('Ticker name for {} is AAPL'.format(text))

Ticker name for Apple Inc. is AAPL

In [ ]:
# You can place two or more placeholders with print function

I own 30 shares of Apple Inc.

**MINI CHALLENGE #7:**
- **Write a code that print out the above statement along with AAPL ticker**
- **i.e.: I own 30 shares of Apple Inc.(AAPL)**

In [ ]:
shares = 30
text = 'Apple Inc.'
ticker = 'AAPL'
print('I own {} shares of {}({})'.format(shares,text,ticker))

I own 30 shares of Apple Inc.(AAPL)

# 5. GET USER INPUT

In [ ]:
# input is a built-in function in python
# Get bank client name as an input and print it out on the screen 
name = input("Wlecome to the bank, what's your name:")

Wlecome to the bank, what's your name:Rajvir

In [ ]:
name

'Rajvir'

In [ ]:
# Obtain bank client data such as name, age and assets and print them all out on the screen
name = input("Welcome to the bank, please enter your name:")
age = input("Please enter your age:")
net_worth = input("enter your total net worth(assets - liabilities):")

print('My name is {}. I am {} years old. My estimated net worth {}.'.format(name, age, net_worth))

Welcome to the bank, please enter your name:hi
Please enter your age:55
enter your total net worth(assets - liabilities):4500
My name is hi. I am 55 years old. My estimated net worth 4500.

In [ ]:
# Obtain user inputs, perform mathematical operation, and print the results 
# Note: Are you getting an error? Move to the next code cell

In [ ]:
x = input("Enter price of AAPL stock today")
y = input ("Enter the number of AAPL stocks you want to buy")
print('Total funds required to buy {} shares of AAPL stock at {} dollars is {}'.format(x,y,x*y))

Enter price of AAPL stock today33
Enter the number of AAPL stocks you want to buy5

TypeError: ignored

In [ ]:
# Convert from string datatype to integer datatype prior to performing addition
x = input("Enter price of AAPL stock today")
x = int(x)
y = input ("Enter the number of AAPL stocks you want to buy")
y = int(y)
print('Total funds required to buy {} shares of AAPL stock at {} dollars is {}'.format(x,y,x*y))

Enter price of AAPL stock today55
Enter the number of AAPL stocks you want to buy5
Total funds required to buy 55 shares of AAPL stock at 5 dollars is 275

**MINI CHALLENGE #8:** 
- **Write a code that takes in the name of the stock, price at which it is selling, the number of stocks that you want to own and prints out the total funds required to buy this stock. Find a sample expected output below:**

  - Enter the price of the stock you want to buy: 3000  
  - Enter the number of stocks that you want to buy: 5
  - Enter the name of the stock that you want to buy: AMZN
  - The total funds required to buy 5 number of AMZN stocks at 3000 is 15000

In [ ]:
name = input("Enter the name of the tock you want tot buy:")
price = input("Enter price of {} stock today".format(name))
price = int(price)
Amount = input ("Enter the number of {} stocks you want to buy".format(name))
Amount = int(Amount)
print('Total funds required to buy {} shares of {} stock at {} dollars is {}'.format(Amount,name,price,price*Amount))

Enter the name of the tock you want tot buy:AMZN
Enter price of AMZN stock today3000
Enter the number of AMZN stocks you want to buy5
Total funds required to buy 5 shares of AMZN stock at 3000 dollars is 15000

# EXCELLENT JOB

# MINI CHALLENGES SOLUTIONS

**MINI CHALLENGE #1:**
- **We defined a variable AMZN (Ticker symbol for Amazon stock) and we assigned these 3 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells** 



```
AMZN = 3324
AMZN = 3400
AMZN = 3530
AMZN
```

In [ ]:
# The output of this code is 3530
# Initially we put 3324 in AMZN, then we overwrite it by placing 3400 in AMZN, and then 3530 in AMZN
AMZN = 3324
AMZN = 3400
AMZN = 3530
AMZN

**MINI CHALLENGE #2:**
- **We defined a variable AAPL (Ticker symbol for Apple stock) and we assigned these 2 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells** 



```
AAPL = 112
AAPL = 115.3
type(AAPL)
```

In [ ]:
AAPL = 112
AAPL = 115.3
type(AAPL)

**MINI CHALLENGE #3 SOLUTION:** 
- **Write a code that calculates the total value of a portfolio assuming that you own 15 Google stocks (Sticker Symbol: GOOG) priced at 1500 each**

In [ ]:
price  = 1500
x  = 15
amount = x * price
amount

**MINI CHALLENGE #4 SOLUTION:**
- **Write a code that takes in Google (GOOG) stock prices at two days and calculate the return:**
  - **GOOG price on day 1 = \$260** 
  - **GOOG price on day 2 = \$280**

In [ ]:
GOOG_price_1 = 260
GOOG_price_2 = 280

price_diff = GOOG_price_2 - GOOG_price_1
percentage_change = price_diff / GOOG_price_1 * 100

percentage_change

**MINI CHALLENGE #5 SOLUTION:**
- **Assume that you own 15 shares of AAPL stock priced at \$150 a share. Apple announced the launch of 5 new products with exceptional features so the stock price increased to $170 a share. Calculate the total profit.**

In [ ]:
AAPL_new = 170
AAPL_old = 150
num_shares = 15
profit = (AAPL_new - AAPL_old) * num_shares   
profit

**MINI CHALLENGE #6 SOLUTION:** 
- **Write a code that performs the following mathematical operation: z = |x − y| * (x + y)**

In [ ]:
x = 4
y = 2
z = abs(x-y) * (x+y)

**MINI CHALLENGE #7 SOLUTION:**
- **Write a code that print out the above statement along with AAPL ticker**
- **i.e.: I own 30 shares of Apple Inc.(AAPL)**

In [ ]:
ticker = 'AAPL'
print("I own {} shares of {}({})".format(shares, company_name, ticker))

**MINI CHALLENGE #8 SOLUTION:** 
- **Write a code that takes in the name of the stock, price at which it is selling, the number of stocks that you want to own and prints out the total funds required to buy this stock. Find a sample expected output below:**

  - Enter the price of the stock you want to buy: 3000  
  - Enter the number of stocks that you want to buy: 5
  - Enter the name of the stock that you want to buy: AMZN
  - The total funds required to buy 5 number of AMZN stocks at 3000 is 15000

In [ ]:
x = input("Enter the price of the stock you want to buy: ")
x = int(x)
y = input("Enter the number of stocks that you want to buy: ")
y = int(y)
z = input("Enter the name of the stock that you want to buy: ")
print('The total funds required to buy {} number of {} stocks at {} is {}'.format(y,z,x, x*y))